<%- include("../sidebar.ejs") %>

<div class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:ps-72 " >
    <!-- form permohonan -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <div class="mx-auto max-w-2xl">
          <div class="text-center">
            <h2 class="text-xl text-gray-800 font-bold sm:text-3xl">
              Isikan Data Mahasiswa 
            </h2>
          </div>

          <!-- Card -->

          <div
            class="mt-5 p-4 relative z-10 bg-white border rounded-xl sm:mt-10 md:p-10"
          >
            <form action="/mahasiswa/permohonan" method="POST">
                <div>
                    <label for="nama" class="block text-sm mb-2 dark:text-white">Nama</label>
                    <div class="relative">
                      <input type="nama" id="nama" name="nama" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                      >
                      <div class="hidden absolute inset-y-0 end-0 pointer-events-none pe-3">
                        <svg class="size-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                        </svg>
                      </div>
                    </div>
                    <p class="hidden text-xs text-red-600 mt-2" id="email-error">Please include a valid email address so we can get back to you</p>
                  </div>

                  <div class="mb-4">
                    <label for="nimlama" class="block text-sm mb-2 dark:text-white">NIM Lama</label>
                    <div class="relative">
                      <input type="nimlama" id="nimlama" name="nimlama" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                      >
                    </div>
                  </div>

                  <div class="mb-4">
                    <label for="tempattgllahir" class="block text-sm mb-2 dark:text-white">Tempat Tanggal Lahir</label>
                    <div class="relative">
                      <input type="tempattgllahir" id="tempattgllahir" name="tempattgllahir" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                      >
                    </div>
                  </div>

                  <div class="mb-4">
                    <label for="departemen_asal" class="block text-sm mb-2 dark:text-white">Pilih Jurusan Asal</label>
                    <select
                      name="departemen_asal"
                      id="departemen_asal"
                      class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                    >
                      <option value="">Pilih Jurusan Asal</option>
                      <option value="Teknik Komputer">Teknik Komputer</option>
                      <option value="Sistem Informasi">Sistem Informasi</option>
                      <option value="Informatika">Informatika</option>
                    </select>
                  </div>

                  <div class="mb-4">
                    <label for="departemen_tujuan" class="block text-sm mb-2 dark:text-white">Pilih Jurusan Tujuan</label>
                    <select
                      name="departemen_tujuan"
                      id="departemen_tujuan"
                      class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                    >
                      <option value="">Pilih Jurusan Tujuan</option>
                      <option value="Teknik Komputer">Teknik Komputer</option>
                      <option value="Sistem Informasi">Sistem Informasi</option>
                      <option value="Informatika">Informatika</option>
                    </select>
                  </div>

                  <div>
                    <label for="nimbaru" class="block text-sm mb-2 dark:text-white">NIM Baru</label>
                    <div class="relative">
                      <input type="nimbaru" id="nimbaru" name="nimbaru" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                      >
                    </div>
                  </div>

              <div class="mt-6 grid">
                <button
                  type="Buat Surat"
                  class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none"
                >
                  Buat Surat
                </button>
              </div>
            </form>
          </div>
          <!-- End Card -->
        </div>
      </div>
      <!-- end form permohonan -->
</div>
</body>
</html>