<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-poppins">
    <!-- Comment Form -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <div class="mx-auto max-w-2xl">
        <div class="text-center">
          <h2 class="text-xl text-gray-800 font-bold sm:text-3xl">
            Ubah Profil
          </h2>
        </div>

        <!-- Card -->
        <div
          class="mt-5 p-4 relative z-10 bg-white border rounded-xl sm:mt-10 md:p-10"
        >
          <form id="changeProfileForm" action="/changeProfile" method="POST">
            <div class="mb-4 sm:mb-8">
              <label for="username" class="block mb-2 text-sm font-light"
                >NIM</label
              >
              <input
                type="text"
                name="newUsername"
                id="username"
                value="<%= user.username %>"
                class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
              />
            </div>

            <div class="mt-6 grid">
              <button
                type="submit"
                class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Comment Form -->
    <script>
      const form = document.getElementById("changeProfileForm");

      form.addEventListener("submit", async (event) => {
        event.preventDefault(); // Mencegah form submit secara default

        try {
          const response = await fetch("/changeProfile", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              newUsername: form.elements.newUsername.value,
            }),
          });

          const data = await response.json();

          if (response.ok) {
            // Profile berhasil diubah
            Swal.fire("Sukses", data.message, "success").then(() => {
              window.location.href = "/profile";
            });
          } else {
            Swal.fire("Gagal!", data.message, "error");
          }
        } catch (error) {
          Swal.fire("Gagal!", "Terjadi kesalahan pada server", "error");
        }
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>