<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-poppins">
    <!-- Comment Form -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <div class="mx-auto max-w-2xl">
        <div class="text-center">
          <h2 class="text-xl text-gray-800 font-bold sm:text-3xl">
            Edit Password
          </h2>
        </div>

        <!-- Card -->
        <div
          class="mt-5 p-4 relative z-10 bg-white border rounded-xl sm:mt-10 md:p-10"
        >
          <form >
            <div class="mb-4 sm:mb-8">
              <label
                for="hs-feedback-post-comment-name-1"
                class="block mb-2 text-sm font-light"
                >Password Baru</label
              >
              <input
                type="password"
                id="hs-feedback-post-comment-name-1"
                class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="password baru"
              />
            </div>

            <div class="mb-4 sm:mb-8">
              <label
                for="hs-feedback-post-comment-email-1"
                class="block mb-2 text-sm font-light"
                >Konfirmasi Password</label
              >
              <input
                type="password"
                id="hs-feedback-post-comment-email-1"
                class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="konfirmasi password"
              />
            </div>

            <div class="mt-6 grid">
              <button
                type="submit"
                class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none"
              >
                Konfirmasi
              </button>
            </div>
          </form>
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Comment Form -->
  </body>
</html>
