<%- include("head.ejs") %>
<div class="max-w m-5 m- min-h-96 bg-white border drop-shadow-md">
  <div
    class="flex items-center gap-x-2 font-medium text-black/80 hover:text-black sm:border-s sm:border-white/30 sm:my-6 sm:ps-6"
  >
    <a
      class="flex items-center gap-x-2 font-medium text-red-600 hover:text-black sm:border-s sm:border-white/30 sm:my-6 sm:ps-6"
      href="#"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-megaphone"
      >
        <path d="m3 11 18-5v12L3 14v-3z" />
        <path d="M11.6 16.8a3 3 0 1 1-5.8-1.6" />
      </svg>
      Perhatian!!
    </a>
  </div>
  <div class="ml-20">
    <p>Ketentuan Pindah Prodi</p>
    <ul>
      <li>1. Bukan diterima melalui jalur SNMPTN</li>
      <li>2. Telah menyelesaikan 2 (dua) semester</li>
      <li>3. IPK untuk 2 semester minimal 3,00 (tiga koma nol) dan</li>
      <li>
        4. Tidak pindah ke program studi yang memiliki tingkat keketatan masuk
        yang lebih tinggi pada tahun yang sama.
      </li>
    </ul>
  </div>
  <div class="flex items-center mb-5 ml-20">
    <div class="flex">
      <input
        id="remember-me"
        name="remember-me"
        type="checkbox"
        class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500 dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
      />
    </div>
    <div class="ms-3">
      <label for="remember-me" class="text-sm font-light mb-3"
        >Saya Sudah Baca Ketentuan Pindah Prodi</label
      >
    </div>
  </div>
  <a href="#form">
    <button
      class="py-3 px-4 inline-flex ml-20 text-sm font-semibold rounded-lg border border-transparent bg-red-600 text-white hover:bg-green-red disabled:opacity-50 disabled:pointer-events-none"
    >
      Submit
    </button>
  </a>
</div>
<section id="form">
  <!-- form permohonan -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="mx-auto max-w-2xl">
      <div class="text-center">
        <h2 class="text-xl text-gray-800 font-bold sm:text-3xl">
          Isikan Data Pengajuan Pindah Prodi
        </h2>
      </div>

      <!-- Card -->

      <div
        class="mt-5 p-4 relative z-10 bg-white border rounded-xl sm:mt-10 md:p-10"
      >
        <form>
          <div class="mb-4 sm:mb-8">
            <label
              for="hs-feedback-post-comment-name-1"
              class="block mb-2 text-sm font-medium"
              >Nama</label
            >
            <input
              type="text"
              id="hs-feedback-post-comment-name-1"
              class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
              placeholder="Nama"
            />
          </div>
          <div class="mb-4 sm:mb-8">
            <label
              for="hs-feedback-post-comment-name-1"
              class="block mb-2 text-sm font-medium"
              >No-Bp</label
            >
            <input
              type="text"
              id="hs-feedback-post-comment-name-1"
              class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
              placeholder="No-Bp"
            />
          </div>
          <!-- pilih fakultas asal -->
          <div class="mb-4 sm:mb-8">
            <label for="fakultasAsal">Pilih Fakultas Asal</label>
            <select
              name="fakultasAsal"
              id="fakultasAsalSelect"
              class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
            >
              <option value="">Pilih Fakultas</option>
              <option value="1">Fakultas Kedokteran Gigi</option>
              <option value="2">Fakultas Pertanian</option>
              <option value="3">Fakultas Farmasi</option>
              <option value="4">Fakultas Teknologi Pertanian</option>
              <option value="5">Fakultas Hukum</option>
              <option value="6">Fakultas Keperawatan</option>
              <option value="7">Fakultas Ekonomi</option>
              <option value="8">Fakultas Peternakan</option>
              <option value="9">Fakultas Ilmu Sosial dan Ilmu Politik</option>
              <option value="10">Fakultas Teknik</option>
              <option value="11">Fakultas Kedokteran</option>
              <option value="12">Fakultas Kesehatan Masyarakat</option>
              <option value="13">Fakultas Ilmu Budaya</option>
              <option value="14">Fakultas Teknologi Informasi</option>
              <option value="15">
                Fakultas Matematika dan Ilmu Pengetahuan Alam
              </option>
            </select>
          </div>
          <div class="mb-4 sm:mb-8">
            <label for="jurusanAsal">Pilih Jurusan Asal</label>
            <select
              name="jurusanAsal"
              id="jurusanAsalSelect"
              class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
            >
              <option value="">Pilih Jurusan</option>
            </select>
          </div>
          <!-- end pilih fakultas asal -->

          <!-- pilih fakultas tujuan-->
          <div class="mb-4 sm:mb-8">
            <label for="fakultasTujuan">Pilih Fakultas Tujuan</label>
            <select
              name="fakultasTujuan"
              id="fakultasTujuanSelect"
              class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
            >
              <option value="">Pilih Fakultas</option>
              <option value="1">Fakultas Kedokteran Gigi</option>
              <option value="2">Fakultas Pertanian</option>
              <option value="3">Fakultas Farmasi</option>
              <option value="4">Fakultas Teknologi Pertanian</option>
              <option value="5">Fakultas Hukum</option>
              <option value="6">Fakultas Keperawatan</option>
              <option value="7">Fakultas Ekonomi</option>
              <option value="8">Fakultas Peternakan</option>
              <option value="9">Fakultas Ilmu Sosial dan Ilmu Politik</option>
              <option value="10">Fakultas Teknik</option>
              <option value="11">Fakultas Kedokteran</option>
              <option value="12">Fakultas Kesehatan Masyarakat</option>
              <option value="13">Fakultas Ilmu Budaya</option>
              <option value="14">Fakultas Teknologi Informasi</option>
              <option value="15">
                Fakultas Matematika dan Ilmu Pengetahuan Alam
              </option>
            </select>
          </div>
          <div class="mb-4 sm:mb-8">
            <label for="jurusanTujuan">Pilih Jurusan Tujuan</label>
            <select
              name="jurusanTujuan"
              id="jurusanTujuanSelect"
              class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
            >
              <option value="">Pilih Jurusan Tujuan</option>
            </select>
          </div>
          <!-- end pilih fakultas tujuan -->

          <script>
            document.addEventListener("DOMContentLoaded", function () {
              const fakultasAsalSelect =
                document.getElementById("fakultasAsalSelect");
              const jurusanAsalSelect =
                document.getElementById("jurusanAsalSelect");
              const fakultasTujuanSelect = document.getElementById(
                "fakultasTujuanSelect"
              );
              const jurusanTujuanSelect = document.getElementById(
                "jurusanTujuanSelect"
              );

              const jurusanOptions = {
                1: ["Pendidikan Dokter Gigi"],
                2: [
                  "Ilmu dan Teknologi Pangan",
                  "Ilmu Tanah",
                  "Agribisnis",
                  "Agroteknologi",
                  "Penyuluhan dan Komunikasi Pertanian",
                  "Proteksi Tanaman",
                ],
                3: ["Farmasi"],
                4: ["Teknik Pertanian", "Agroteknologi"],
                5: ["Ilmu Hukum"],
                6: ["Ilmu Keperawatan"],
                7: [
                  "Manajemen",
                  "Ilmu Ekonomi",
                  "Akuntansi",
                  "Manajemen Keuangan",
                ],
                8: ["Peternakan"],
                9: [
                  "Ilmu Komunikasi",
                  "Sosiologi",
                  "Antropologi",
                  "Ilmu Politik",
                  "Hubungan Internasional",
                  "Administrasi Negara",
                ],
                10: [
                  "Teknik Lingkungan",
                  "Teknik Mesin",
                  "Teknik Sipil",
                  "Teknik Industri",
                  "Teknik Elektro",
                ],
                11: [
                  "Kebidanan",
                  "Pendidikan Dokter",
                  "Psikologi",
                  "Teknik Biomedis",
                ],
                12: ["Gizi", "Kesehatan Masyarakat"],
                13: [
                  "Sejarah",
                  "Sastra Indonesia",
                  "Sastra Inggris",
                  "Sastra dan Bahasa Asing",
                  "Sastra dan Bahasa Daerah",
                  "Sastra Jepang",
                ],
                14: ["Teknik Komputer", "Sistem Informasi", "Informatika"],
                15: ["Fisika", "Kimia", "Biologi", "Matematika"],
              };

              function updateJurusanOptions(fakultasSelect, jurusanSelect) {
                const fakultasValue = fakultasSelect.value;
                const options = jurusanOptions[fakultasValue] || [];

                jurusanSelect.innerHTML =
                  '<option value="">Pilih Jurusan</option>';
                options.forEach((jurusan) => {
                  const option = document.createElement("option");
                  option.value = jurusan;
                  option.text = jurusan;
                  jurusanSelect.add(option);
                });
              }

              fakultasAsalSelect.addEventListener("change", function () {
                updateJurusanOptions(fakultasAsalSelect, jurusanAsalSelect);
              });

              fakultasTujuanSelect.addEventListener("change", function () {
                updateJurusanOptions(fakultasTujuanSelect, jurusanTujuanSelect);
              });
            });
          </script>
          <div class="mb-4 sm:mb-8">
            <label for="fakultas">Tahun Ajaran</label>
            <select
              name="fakultas"
              id=""
              class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
            >
              <option value="1">2020/2021</option>
              <option value="2">2021/2022</option>
              <option value="3">2022/2023</option>
              <option value="4">2023/2024</option>
            </select>
          </div>
          <div class="mb-4 sm:mb-8">
            <label
              for="hs-feedback-post-comment-email-1"
              class="block mb-2 text-sm font-medium"
              >Semester</label
            >
            <input
              type="Number"
              id="hs-feedback-post-comment-email-1"
              class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
              placeholder="Semester"
            />
          </div>
          <div class="mb-4 sm:mb-8">
            <label
              for="hs-feedback-post-comment-email-1"
              class="block mb-2 text-sm font-medium"
              >Alamat</label
            >
            <input
              type="text"
              id="hs-feedback-post-comment-email-1"
              class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
              placeholder="Alamat"
            />
          </div>

          <div>
            <label
              for="hs-feedback-post-comment-textarea-1"
              class="block mb-2 text-sm font-medium"
              >Alasan</label
            >
            <div class="mt-1">
              <textarea
                id="hs-feedback-post-comment-textarea-1"
                name="hs-feedback-post-comment-textarea-1"
                rows="3"
                class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="Leave your comment here..."
              ></textarea>
            </div>
          </div>

          <div class="mt-6 grid">
            <button
              type="submit"
              class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
      <!-- End Card -->
    </div>
  </div>
  <!-- end form permohonan -->
</section>

<%- include("footer.ejs") %>
